Makefile
Makefile.in
configure
build/
autom4te.cache/
m4/
.deps/
.libs/
*.o
*.lo
*.la
*~
#*#
aclocal.m4
config.h
config.h.in
config.status
libtool
lib/*-marshal.c
lib/*-marshal.h
src/quote_fmt_lex.c
src/quote_fmt_parse.c
src/quote_fmt_parse.h
src/*-marshal.c
src/*-marshal.h
src/resources.c
src/yam
src/icons/*.h
po/Makefile.in.in
po/POTFILES
po/*.pot
po/*.gmo
po/stamp-it
po/.intltool-merge-cache
stamp-h1
TAGS
data/*.pc
data/*.desktop
*.tar.*
*.log
*.old
